# Dependencies
node_modules/
.pnp/
.pnp.js

# Build output
dist/
build/
.expo/
.expo-shared/
web-build/

# Env & secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# Native
*.jks
*.p12
*.p8
*.key
*.pem
*.mobileprovision
*.orig.*
.kotlin/
expo-env.d.ts
.metro-health-check*
*.tsbuildinfo
apps/mobile/ios/
apps/mobile/android/

# Misc temp
tmp/
*.tmp
