# Dependencies
node_modules/
.pnp/
.pnp.js

# Build output
dist/
build/
.expo/
.expo-shared/
web-build/

# Env & secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# Native
*.jks
*.p12
*.key
*.mobileprovision

# Misc temp
tmp/
*.tmp
